{% extends "asosiy/asosiy.html" %}
{% load static %}
{% load bootstrap5 %}


{% block content %}

    {% if user.is_authenticated %}
    <div class="container vh-100 pt-5">
        <div class="row text-center">
            <h3>Sizga biriktrilgan o`qituvchini baholang !!!</h3> 
        
        </div>
        <div class="row">
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                <select name="oqtuvchi_id" class="form-select">
                    {% for d in data %}                                  
                        
                            <option value="{{d.id}}">{{d.name}}</option>
                        
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
        
                <select name="baho" class="form-select">
                    <option value="5">A`lo</option>
                    <option value="4">Yaxshi</option>
                    <option value="3">O`rtacha</option>
                    <option value="2">Qoniqarli</option>
                    <option value="1">Qoniqarsiz</option>
                </select>
            </div>

                <div class="row text-center mb-3">
                    {% buttons %}
                        <button type="submit" class="btn btn-primary text-center">Baholash</button>
                    {% endbuttons %}
                </div>
                
                
            </form>
            
        </div>
    </div>

    {% else %}      
        <div class="row vh-100 text-center mt-5">
            <a href="{% url 'home' %}">Bosh sahifaga qaytish</a>
        </div>
    {% endif %}  


      

{% endblock %}