{% extends "asosiy/asosiy.html" %}
{% load static %}


{% block content %}

    {% if user.is_authenticated %}
    <div class="container vh-100 pt-5">
        
        <div class="row text-center">
            <h3>Matematika-informatika yo`nalishining {{kurs}} talabalariga biriktrilgan fanlar</h3>         
        </div>
        <div class="row">
            {% for d in data %}
                <nav id="navbar-example2" class="navbar bg-body-tertiary px-3 mb-3">                    
                    <a class="navbar-brand" href=""> {{d.name}} fani uchun mashg`ulotlar !!!</a>
                    <ul class="nav nav-pills">                                
                        <li class="nav-item">
                            <a class="btn btn-primary" href="{% url 'turi' d.pk %}">Fan turi</a>
                        </li>                                               
                    </ul>                   
                </nav>
            {% endfor %}           
        </div>
    </div>

    {% else %}      
        <!-- Carousel Start -->
        <div class="container-fluid p-0">
            <div class="owl-carousel header-carousel position-relative">
                <div class="owl-carousel-item position-relative">
                    <img class="img-fluid" src="{% static '/img/carousel-1.jpg' %}" alt="">
                    <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                        <div class="container">
                            <div class="row justify-content-start">
                                <div class="col-sm-10 col-lg-8">
                                    <h1 class="display-3 text-white animated slideInDown">Qo`qon Davlat Pedagogika Inistituti</h1>
                                    <p class="fs-5 text-white mb-4 pb-2">Fizika-matematika fakulteti o`qituvchilarni malakasini baholash tizimi</p>
                                    <a href="{% url 'kirish' %}" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Kirish</a>
                                    <a href="{% url 'royhat' %}" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Ro`yhatdan o`tish</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-carousel-item position-relative">
                    <img class="img-fluid" src="{% static '/img/carousel-1.jpg' %}" alt="">
                    <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                        <div class="container">
                            <div class="row justify-content-start">
                                <div class="col-sm-10 col-lg-8">
                                    <h1 class="display-3 text-white animated slideInDown">Qo`qon Davlat Pedagogika Inistituti</h1>
                                    <p class="fs-5 text-white mb-4 pb-2">Fizika-matematika fakulteti o`qituvchilarni malakasini baholash tizimi</p>
                                    <a href="{% url 'kirish' %}" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Kirish</a>
                                    <a href="{% url 'royhat' %}" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Ro`yhatdan o`tish</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>            
            </div>
        </div>
        <!-- Carousel End -->
    {% endif %}  


      

{% endblock %}